.swiper-container {
      width: 100%;
      height: 130%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 17px;
      background: #fff;
    }
.swiper_block{ height: 300px;  }
.offers_image_box {
    width: 100%;
    height: 200px;
}
.offer_info_left {
    height: 30px;
    font-size: 16px;
    float: center;
    line-height: 30px;
}
.offer_info_center{
    height: 30px;
    font-size: 16px;
    float: center;
    line-height: 30px;
}
.offers_basic_info_box {
    width: 100%;
    height: 50px;
    padding-top: 9px;
}
.category_title_section {
    height: 30px;
    line-height: 250px;
    font-size: 20px;
    font-weight: bold;
}
.product_title_section {
    height: 30px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
}
.best_offers_container {
    height: 458px;
}
.footer_box {
    background: #23272B;
    color: white;
    padding: 25px;
}
ul.quick_link >li {
    list-style: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    /* text-align: center; */
}
ul.quick_link > li > a {
    color: white;
}
.social_icon {
    width: 55px;
    font-size: 18px;
    margin-top: 50px;
}
.filter_container {
    margin-bottom: 20px;
}
.product_box {
    margin-bottom: 20px;
}
.offers_add_to_cart > button {
      margin-top: 10%;
  }
.offers_add_to_cart1 > button {
      margin-top: 10%;
  }
  .product_single_page_link {
    text-decoration: none;
    color: black;
}
.product_single_page_link:hover {
    text-decoration: none;
    color: black;
}
.image_container {
    width: 100%;
    height: 350px;
}
.comon_product_single_info {
    width: 100%;
    min-height: 50px;
    line-height: 50px;
}
.review_block {
    width: 100%;
    height: auto;
}
.r_user_image {
    width: 7%;
    height: 150px;
    float: left;
}
.related_product_box {
    text-align: center;
    margin-bottom: 20px;
}
.related_products {
    text-align: center;
    margin-bottom: 28px;
}
.cart_count {
    position: absolute;
    width: 15px;
    height: 15px;
    text-align: center;
      font-size: 10px;
    margin-top: -40px;
    color: #23272B;
    background: grey;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 30px;
    margin-left: 20px;
}
img.cart_img {
    width: 149px;
    margin-bottom: 24px;
}
.product_info {
    padding-top: 88px;
    width: 95%;
    margin: auto;
    border: 2px solid;
    padding: 32px;
    border-radius: 13px;
    margin-top: 43px;
}
.payment_method_box {
    width: 60%;
    margin: auto;
}

.success_block {
    width: 382px;
    text-align: center;
    margin: auto;
}
.success_block >img {
    width: 70px;
    height: 70px;
}

.not_found_msg_box {
    height: 350px;
    padding-top: 10%;
    font-size: 23px;
    font-weight: bold;
}

.product_title_section >p>a {
    color: #23272B;
}
a:hover
{
  text-decoration: none;
}
.category_title_section >p>a {
    color: #23272B;
}
a:hover
{
  text-decoration: none;
}